---
import MagneticDesign from '../components/vue/MagneticDesign.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<MagneticDesign client:only="vue" />
	</main>
</Layout>

<style></style>
